div.colour-field {
    border: 1px solid #cbd3d5;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

div.colour-field input {
	color: #000;
}

input.invalid {
	background-color: #ffb5b5 !important;
}

input.invalid + p.help-text::after {
	content: " - Does not match pattern!";
}