/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* ORGANIZR PLEX THEME */
@import url("https://theme-park.dev/CSS/themes/organizr/organizr-base.css");
@import url("https://theme-park.dev/CSS/variables/plex.css");

/* APP VARS */
:root {
    --calendar-tv-premier: #FFEB3B;
    --calendar-tv-missing: #ff7676;
    --calendar-tv-available: #53e69d;
    --calendar-tv-unreleased: #eeeeee;
    --calendar-movie-missing: #ff7676;
    --calendar-movie-available: #53e69d;
    --calendar-movie-unreleased: #eeeeee; 
  }